
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f0f0;
}

header {
  padding: 20px 0;
  float: left;
  color: #000;

}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}


.logo {
  background-image: url(image.png); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 0;
  text-align: center;
  color: white;
  width: 100%;
}


.logo h1 {
  font-size: 50px;
}

.logo p {
  font-size: 20px;
  margin: 10px 0;
}

.logo button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.logo button:hover {
  background-color: #555;
}


main {
  padding: 50px 10%;
  background-color: white;
}

h2 {
  font-size: 30px;

}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content p {
  width: 60%;
}

.content img {
  width: 30%;

}


footer {
  background-color: #666;
  color: white;
  text-align: center;
  padding: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
