*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.header{
    line height: 60px;
    background-color: #444;
}

.logo{
    background-color: #ff3600;
    color: #fff;
    display: block;
    float: left;
    padding: 20px;
}

.nav{
    line height: 60px;
    height: 60px;
    background-color: #444;
    padding: 20px;
}

.nav a{
    color: darkorange;
    text-decoration: none;
}

.nav ul{
    list-style-type: none;
}

.nav li{
    padding: 0 20px;
    display: block;
    float: left;
}

.main{
    max-width: 70%;
    display: block;
    float: left;
}

.main h2{
    padding: 20px 0;
}

.sidebar h3{
    padding: 20px 0;
}

.sidebar{
    max-width: 25%;
    display: block;
       float: right;
    border: 2px solid #aaa;
    padding: 10px;
    margin-bottom: 30px;
 
}

img{
    max-width: 100%;
}
.content{ 
    padding: 20px;

}

.footer{
   margin-top: 30px;
    padding-top: 20px;
    clear: both;
    border-top: 2px solid #aaa;
}


.footer ul{
   list-style-type: none; 
}

.footer li{
    padding: 0 20px;
    display: block;
    float: left;
}

.footer a{
 color: darkorange;
text-decoration: none;
}